<head>
  <title>bla</title>
</head>

<template name="IronBody">
  {{> yield}}
</template>

<template name="b">
  {{>head}}
  <pre>{{message}}</pre>
  <br>
  {{> uploadForm}}
  <br>
  {{> files}}
</template>


<template name="head">
  login: admin@constellationsoft.com<br>
  pass: admin<br>
  <br>
  <br>
  {{> loginButtons}}
</template>

<template name="uploadForm">
  {{#with currentUpload}}
    Uploading <b>{{file.name}}</b>:
    <span id="progress">{{progress.get}}%</span>
  {{else}}
    <input id="fileInput" type="file" />
  {{/with}}
</template>

<template name="files">
  {{#each files}}
  {{>file file=this}}
  {{/each}}
</template>

<template name='file'>
  <br>
  <a href="{{file.link}}?download=true&xmtok={{sess}}" download="{{file.name}}" target="_parent">
    Param send -{{file.name}}-
  </a>
  <span style="padding:0 5px;"> || </span>
  <a href={{urlRedir}} download="{{file.name}}" target="_parent">
    Redirect -{{file.name}}-
  </a>
    
</template>